<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension  point="org.eclipse.ui.newWizards">
             
       <wizard
             class="de.tif.jacob.projectbuilder.blank.ProjectWizard"
             icon="icons/jacob.gif"
             category="de.tif.jacob/de.tif.jacob.projectbuilder"
             project="true"
             name="Blank Project"
             id="de.tif.jacob.projectbuilder.blank.ProjectWizard"/>
    </extension>

  
</plugin>
