/* Beryl */
.autocomplete 
{ 
position:absolute; 
top:1px; 
left:1px; 
-moz-box-shadow: 4px 4px 8px #aaaaaa;
-webkit-box-shadow: 4px 4px 8px #aaaaaa;
box-shadow: 4px 4px 8px #aaaaaa;
background-color:white;
filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=120,strength=6)
        progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=6);
cursor:default; 
padding:2px;
}
.autocomplete .selected 
{ 
  background:#555F66; 
  color:white;
}

.autocomplete strong 
{ 
  font-weight:bold; 
  text-decoration:underline;
}

.spotlight_domain
{
padding:0px;
text-align:right;
padding-right:5px;
font-family:Arial,sans-serif;
font-size:12px;
color:#5F5F5F;
height:14px;
white-space:nowrap;
background-color:#DDE0E0;
}

.spotlight_match
{
padding:0px;
text-align:left;
padding-left:5px;
font-family:Arial,sans-serif;
font-size:12px;
color:black;
height:14px;
white-space:nowrap;
background-color:#BEC3C5;
padding:2px;
}



.spotlight
{
border:0px;
margin-top:8px;
background:white url("images/spotlight_bg.png") no-repeat top right;
height:19px;
color:#A3A9B1;
position:absolute;
top:38px;
left:10px;
width:165px;
}

.spotlight_focus
{
border:0px;
margin-top:8px;
background:white url("images/spotlight_bg.png") no-repeat top right;
height:19px;
color:black !important;
position:absolute;
top:38px;
left:10px;
width:165px;
}



div.menu {
    position: absolute;
    top: 0;
    left: 0;
    font-family: verdana;
}

div.menu a 
{
    display: block;
    text-decoration: none;
    cursor: default;
    outline: none;
    font-size: 11px;
}
.menu ul, .menu li 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li 
{
    list-style-position: none;
}

.menu.desktop {
    background: #f9f8f7;
    border: 1px solid #999;
    padding: 0;
}
.menu.desktop ul, .menu.desktop li {
    margin: 0;
    padding: 0;
}

.menu.desktop a {
    color: #555;
    padding: 3px 5px 3px 5px;
    margin: 0;
    border: 1px solid #f9f8f7;
}
.menu.desktop a.delete {
}
/* we need explicit enabled class to overcome css deficiences (without creating unnecessary markup) */
.menu.desktop a.enabled:hover {
    background-color: #0A246A;
    color: #fff;
}
#sideBar
{
  position:absolute;
  top:20px;
  right:0;
  height:300px;
  width:auto;
  white-space:nowrap;
  color:white;
  font-size:8pt;
}

#sideBar li
{
  background-color:#DA1074;
  padding:2px;
  margin:0 10px 3px;
  list-style-type:none;
}

#sideBar ul
{
  margin:0px;
  padding:0px;
}

#sideBarTab {
float:left;
height:137px;
width:23px;
cursor:pointer;
background:transparent url("images/sidebar_handle.png") no-repeat;
}

#sideBarContents
{
  float:left;
  width:200px;
  background-color:#333333;
}

#sideBarContentsInner
{
  overflow-x:hidden !important;
  overflow-y:auto !important;
  height:300px;
}

a.search_criteria
{
  color:#f0f0f0;
}

body
{
scrollbar-base-color:#E3E3E3;
scrollbar-3dlight-color:#393939;
scrollbar-arrow-color:#393939;
scrollbar-darkshadow-color:#393939;
scrollbar-face-color:#E3E3E3;
scrollbar-highlight-color:#E3E3E3;
scrollbar-shadow-color:#E3E3E3;
background-color:#ffffff;
}


.teaser_applicationtitle
{
font-family:verdana,arial,sans-serif;
font-size:30px;
display:block;
color:white;
position:absolute;
top: 15px;
left:150px;
letter-spacing:15pt;
}

.teaser
{
height:110px;
background:#101010 url('images/teaser.png') left top no-repeat;;
}

.home_link
{
display:none;
}

.listbar
{
background:url('images/navigation_bg.png') left top repeat-x;
border:0px;
position:absolute;
top:0px;
left:0px;
width:220px;
height:100%;
}

.listbar_border
{
margin-left:20px;
width:200px;
height:100%;
background:white url( "images/shadow_right.png" )  top right repeat-y;
}

.listbar_footer
{
height:0px;
}


.listbar_header
{
height:40px;
background:url('images/menu_left.png') top right no-repeat;
font-family:Tahoma,Helvetica,Arial,sans-serif;
color:gray;
font-size:8pt;
font-weight:normal;
padding-left:20px;
padding-top:20px;
text-align:left;
}

.listbarApplicationName
{
position:absolute;
right:27px;
top:15px;
color:#225599;
font-family:verdana,arial,sans-serif;
font-size:16px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
padding:9px 7px;
}

.simpleNavigationLevel1Selected
{
font-family:verdana,arial,sans-serif;
font-size:14px;
font-weight:bold;
color:black;
padding-left:0px;
padding-top:4px;
padding-bottom:4px;
border-bottom:0px;
border-top:1px solid #B4B7B6;
}

.simpleNavigationLevel1Normal
{
font-family:verdana,arial,sans-serif;
font-size:10pt;
color:black;
font-weight:bold;
cursor:pointer;
padding-left:0px;
padding-top:4px;
padding-bottom:4px;
border-top:0px;
}

.simpleNavigationLevel2
{
padding-bottom:20px;
}

.simpleNavigationLevel2Normal
{
font-family:verdana,arial,sans-serif;
font-size:9pt;
font-style:normal;
font-weight:normal;
color:#FF2244;
cursor:pointer;
padding-left:20px;
padding-top:2px;
padding-bottom:2px;
width:145px;
overflow:hidden;
text-decoration:underline;
}

.simpleNavigationLevel2Selected
{
font-family:verdana,arial,sans-serif;
font-size:9pt;
font-style:normal;
font-weight:bold;
color:#FF2244;
padding-left:20px;
padding-top:2px;
padding-bottom:2px;
background-color:transparent;
width:145px;
overflow:hidden;
}


.simpleNavigationLevel2Separator
{
font-family:verdana,arial,sans-serif;
font-size:10pt;
color:#FF2244;
font-weight:bold;
padding-left:10px;
padding-top:4px;
padding-bottom:4px;
}

/**
* Kleine Sanduhr beim Serverrequest
**/
.waitDiv
{
font-size:10pt;
background-color:#f0f0f0;
border:solid 1px #393939;
position:absolute; 
top:50%; 
left:40%;
}

.divider
{
height:7px;
background:#E6E3EF url('images/divider_x.png') top left repeat-x;
margin:0px;
padding:0px;
border:0px;
} 

.divider_over
{
height:7px;
background:#E6E3EF url('images/divider_bold_x.png') top left repeat-x;
margin:0px;
padding:0px;
border:0px;
}

a.reportList 
{ 
color:#393939;
width:100%;
margin:1px;
text-decoration:none;
}
a.reportList:hover 
{ 
color:#F24704;
border:1px solid rgb(120,172,255);
margin:0px;
width:100%;
}

.combobox_trigger
{
border-left:1px solid #B5B8C8;
background:#EFEFEF url(./images/trigger.png) no-repeat;
width:15px;
font-size:2pt;
line-height:1px;
cursor:pointer;
}

.combobox_trigger_readonly
{
display:none;
}

.combobox_readonly
{
background-color:#F9F9F9;
border:0px;
color:#393939;
font-family:verdana,arial,sans-serif;
font-size:10px;
}

td.Multiselection_Title
{
}

input.Multiselection_Title
{
font-family:verdana,arial,sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
color:#393939;
}


.listbox_selected
{
border:1px solid #B5B8C8;
background-color:#E9F2FF;
}

.listbox_normal
{
border:1px solid #B5B8C8;
background:#FFFFFF url(./images/text-bg.gif) repeat-x top;
}

.listboxitem
{
background:transparent none repeat scroll 0%;
font-family:verdana,arial,sans-serif;
font-size:10px;
color:#393939;
}

.listboxitem_selected
{
background:#C3DAF9 none repeat scroll 0%;
font-family:verdana,arial,sans-serif;
font-size:10px;
color:#233D6D;
}


div.wizard_info
{
height:100%;
}

h1.wizard_info
{
font-family:verdana,arial,sans-serif;
font-size:10pt;
font-weight:bold;
}

li.wizard_info
{
font-family:verdana,arial,sans-serif;
font-size:8pt;
}
li.wizard_info_s
{
font-family:verdana,arial,sans-serif;
font-weight:bold;
font-size:8pt;
}
div.wizard_contentteaser
{
font-size:8pt;
height:100%;
width:100%;
overflow:auto;
padding:10px;
border-bottom:1px solid;
}


.browserContent
{
border-left:1px solid #969696;
border-bottom:1px solid #969696;
}

#searchBrowserTable
{
background-color:white;
}

.sb_no_records
{
font-family:verdana,arial,sans-serif;
font-size:12px;
font-weight:bold;
color:#999999;
cursor:default;
}

#SearchBrowserPlaceholder div div table 
{
}

.sbh_container
{
background:#191919;
margin-bottom:3px;
border-bottom:0px;
border-top:0px;
color:#FF2244;
}

.sb_container
{
background-color:white;
margin:0px;
padding:0px;
border:0px;
}

.sbh
{
border-left:1px solid #EEEEEE;
border-right:0px;
border-top:0px;
border-bottom:0px;
line-height:15px;
vertical-align:middle;
-moz-user-focus:normal;
font-family:arial,tahoma,helvetica,sans-serif;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
outline-color:invert;
outline-style:none;
outline-width:medium;
padding:4px 3px 4px 5px;
background-color:transparent;
}

.sbh_icon
{
font-family:verdana,arial,sans-serif;
font-size:10px;
color:#393939;
text-align:right;
font-family:curier;
font-style:normal;
font-weight:normal;
vertical-align:middle;
background-color:rgb( 212, 226, 237 );
border:1px solid #393939;
}

.sbh_counter
{
font-family:verdana,arial,sans-serif;
font-size:10px;
color:#393939;
text-align:right;
font-style:normal;
font-weight:normal;
vertical-align:middle;
}

.sbc
{
font-family:verdana,arial,sans-serif;
font-size:11px;
border-left:1px solid #EDEDED;
border-bottom:1px solid #EDEDED;
height:20px;
line-height:13px;
padding:3px 3px 3px 5px;
}

.sbc_add
{
width:100%;
height:100%;
background-color:rgb( 232, 250, 255 );
font-family:verdana,arial,sans-serif;
font-size:11px;
border-left:1px solid #EDEDED;
border-bottom:1px solid #EDEDED;
height:20px;
line-height:13px;
}

.sbc_checkbox
{
border-bottom:1px solid #EDEDED !important;
}

.sbh_checkbox
{
padding-top:3px !important;
}

.sbr_s
{
font-family:verdana,arial,sans-serif;
font-size:9pt;
text-align:left;
padding-left:2px;
padding-right:20px;
padding-top:3px;
font-style:normal;
font-weight:normal;
color:#FF2244;
background:#f0f0f0;
}

.sbr_o
{
font-family:verdana,arial,sans-serif;
font-size:9pt;
text-align:left;
padding-left:2px;
padding-right:20px;
padding-top:3px;
font-style:normal;
font-weight:normal;
background-color:white;
color:black;
}

.sbr_e
{
font-family:verdana,arial,sans-serif;
font-size:9pt;
text-align:left;
padding-left:2px;
padding-right:20px;
padding-top:3px;
font-style:normal;
font-weight:normal;
background-color:white;
color:black;
}

.sbr_h
{
font-family:verdana,arial,sans-serif;
font-size:9pt;
text-align:left;
padding-left:2px;
padding-right:20px;
padding-top:3px;
font-style:normal;
font-weight:normal;
background:white;
text-decoration:underline;
color:#FF2244;
}

.sbr_u
{
font-family:verdana,arial,sans-serif;
font-size:9pt;
text-align:left;
height:22px;
padding-Left:2px;
padding-right:20px;
font-style:normal;
font-weight:normal;
background-color:#ffffff;
color:black;
}

body.contentBody
{
margin:0px;
background-color:white;
}

#formDiv
{
margin-left:30px;
margin-top:5px;
}

#toolbar
{
background:#C1D4E7 url(images/toolbar.png) top left repeat-x;
height:62px;
}

td.toolbar
{
font-family:verdana,arial,sans-serif;
padding:0px;
border:0px;
background:transparent;
padding-bottom:3px;
padding-top:10px;
}


td.toolbar_left
{
width:0px;
}


.toolbarButton_normal
{
background:transparent;
border:0px;
color:#FF2244;
cursor:pointer;
font-family:verdana,arial,sans-serif;
font-size:11pt;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:3pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
overflow:hidden;
padding-left:3px;
padding-right:3px;
width:auto;
margin-top:3pt;
margin-left:4pt;
}

.toolbarButton_disabled
{
background:transparent;
color:#FF2244;
border:0px;
font-family:verdana,arial,sans-serif;
font-size:11pt;
font-style:normal;
font-weight:normal;
background-color:#F7F6F7;
margin-right:3px;
}


.toolbarButton_emphasize
{
background:transparent;
border:0px;
color:#FF2244;
font-family:verdana,arial,sans-serif;
font-size:11pt;
font-style:normal;
background-color:#F7F6F7;
font-weight:bold;
margin-right:3px;
}

.toolbarButton_emphasize_disabled
{
background:transparent;
border:0px;
color:#FF2244;
font-family:verdana,arial,sans-serif;
font-size:11pt;
font-style:normal;
background-color:#F7F6F7;
font-weight:bold;
margin-right:3px;
}



.image_empty
{
border:1px solid #393939;
background-color:rgb(245,245,245);
}
.image_update
{
border:1px solid #393939;
background-color:rgb(245,245,245);
}
.chart_empty
{
border:1px solid #393939;
background-color:rgb(245,245,245);
}
.chart_update
{
border:1px solid #393939;
background-color:rgb(245,245,245);
}

.text_disabled
{
color:#393939;
font-family:verdana,arial,sans-serif;
font-size:10px;
border:1px solid #B5B8C8;
background-color:#E9F2FF;
}

.text_normal
{
color:#393939;
font-family:verdana,arial,sans-serif;
font-size:10px;
border:0px;
background-color:#f9f9f9;
}


.heading
{
color:#393939;
}


input.document_normal
{
color:#393939;
font-family:verdana,arial,sans-serif;
font-size:10px;
border:1px solid #B5B8C8;
}

input.document_disabled
{
color:#393939;
font-family:verdana,arial,sans-serif;
font-size:10px;
border:1px solid #B5B8C8;
}

a.document_normal
{
}

a.document_disabled
{
}


textarea.longtext_disabled
{
color:#393939;
font-family:verdana,arial,sans-serif;
font-size:10px;
overflow:auto;
border:1px solid #B5B8C8;
}

textarea.longtext_normal
{
background-color:#F9F9F9;
color:#393939;
font-family:verdana,arial,sans-serif;
font-size:10px;
overflow:auto;
border:0px;
}

textarea.longtextdialog_disabled
{
font-family:verdana,arial,sans-serif;
font-size:80%;
overflow:auto;
}

textarea.longtextdialog_normal
{
color:#393939;
font:normal 11px verdana;
overflow:auto;
}

input.foreign_disabled
{
color:#393939;
font-family:verdana,arial,sans-serif;
font-size:10px;
border:1px solid #B5B8C8;
background-color:#E9F2FF;
}

input.foreign_normal
{
color:#393939;
font-family:verdana,arial,sans-serif;
font-size:10px;
border:1px solid #B5B8C8;
}

a.foreign_normal
{
}

a.foreign_disabled
{
}

.button_disabled
{
background:transparent;
border:0px;
color:#eF9294;
font-size:11pt;
font-style:normal;
font-weight:normal;
padding-left:0px;
}

.button_normal
{
background:transparent;
border:0px;
color:#FF2244;
font-family:verdana,arial,sans-serif;
font-size:11pt;
font-style:normal;
font-weight:normal;
text-decoration:underline;
padding-left:0px;
}

.button_emphasize_disabled
{
background:transparent;
border:0px;
color:#FF2244;
font-family:verdana,arial,sans-serif;
font-size:11pt;
font-style:normal;
font-weight:bold;
padding-left:0px;
}

.button_emphasize_normal
{
background:transparent;
border:0px;
color:#FF2244;
font-family:verdana,arial,sans-serif;
font-size:11pt;
font-style:normal;
font-weight:bold;
padding-left:0px;
}

.button_default
{
background:transparent;
border:0px;
color:#FF2244;
font-family:verdana,arial,sans-serif;
font-size:11pt;
font-style:normal;
font-weight:bold;
padding-left:0px;
}

.caption_normal_update 
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
color:#393939;
text-decoration:none;
}
.caption_normal_new 
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
color:#393939;
text-decoration:none;
margin-top:2px;
}

.caption_normal_search 
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
color:#393939;
text-decoration:none;
margin-top:2px;
}
.caption_normal_selected
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
color:#393939;
text-decoration:none;
margin-top:2px;
}

.caption_linked_update 
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
text-decoration:underline;
margin-top:2px;
}
.caption_linked_new 
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
text-decoration:underline;
margin-top:2px;
}
.caption_linked_search 
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
text-decoration:underline;
margin-top:2px;
}
.caption_linked_selected
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
text-decoration:underline;
margin-top:2px;
}

.caption_linked_required_update 
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
font-weight:bold;
text-decoration:underline;
margin-top:2px;
}
.caption_linked_required_new 
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
font-weight:bold;
text-decoration:underline;
margin-top:2px;
}
.caption_linked_required_search 
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
text-decoration:underline;
margin-top:2px;
}

.caption_linked_required_selected
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
text-decoration:underline;
margin-top:2px;
}

.caption_required_search 
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
color:#393939;
text-decoration:none;
margin-top:2px;
}

.caption_required_selected
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
color:#393939;
text-decoration:none;
margin-top:2px;
}

.caption_required_update 
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
color:#393939;
font-weight:bold;
text-decoration:none;
margin-top:2px;
}

.caption_required_new 
{
font-family:verdana,arial,sans-serif;
font-size:10px;            
color:#393939;
font-weight:bold;
text-decoration:none;
margin-top:2px;
}

.caption_requiredflag 
{
display:none;
margin-top:2px;
}


.group_normal
{
font-family:verdana,arial,sans-serif;
border:0px;
color:#393939;
font:normal 11px verdana;
text-decoration:none;
border:1px solid #C1D4E7;
margin:0px;
padding:0px;
}

.group_legend
{
padding-top:3px;
padding-bottom:2px;
background:#CDCFCE url(./images/panel-title-light-bg.gif) repeat-x;
border:0px;
color: #393939;
font: bold 11px "Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;
border-left:1px solid #C1D4E7;
border-top:1px solid #C1D4E7;
border-right:1px solid #C1D4E7;
}

input.datetime_disabled
{
color:#393939;
font-family:verdana,arial,sans-serif;
font-size:10px;            
border:1px solid #B5B8C8;
background-color:#E9F2FF;
}

input.datetime_normal
{
color:#393939;
font-family:verdana,arial,sans-serif;
font-size:10px;            
border:1px solid #B5B8C8;
background-color:#E9F2FF;
}

body.dialog
{
margin:0px;
font-size:8pt;
background-color:white;
}

dd.dialog
{
font-family:Tahoma,Verdana,tahoma,arial,helvetica;
font-size:120%;
margin-left:20px;
margin-right:20px;
padding-top:10pt;
}
h1.dialog
{
font-family:verdana,arial,sans-serif;
font-size:150%;
margin-top:20pt;
margin-left:20px;
margin-right:20px;
color:#0055E6;
font-weight:bold;
page-break-after:avoid;
}

div.dialog_content
{
font-family:verdana,arial,sans-serif;
font-size:8pt;
margin:0px;
height:100%;
width:100%;
background-color:#ffffff;
}

div.dialog_buttonbar
{
height:20px;
background-color:#101010;
border-top:1px solid #393939;
padding:5pt;
}

td.searchTabFooter
{
padding-top: 0;
padding-bottom: 1px;
background:white;
border-top: 0px;
border-bottom: 0 none;
display:block;
height:21px;
}

.downtab
{
height:23px;
width:auto;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
border:0px;
text-decoration:none;
cursor:pointer;
background: transparent url(images/tab-btm-inactive-right-bg.gif) no-repeat bottom left;
float:left;
display:inline;
}

.downtab div
{
height:23px;
width:auto;
margin:0px;
padding:4px 10px;
text-decoration:none;
background: transparent url(images/tab-btm-inactive-left-bg.gif) no-repeat bottom right;
float:left;
display:inline;
}

.downtab div em
{
color: #15428B;
font: bold 11px tahoma,arial,verdana,sans-serif;
float:left;
display:inline;
}

.downtab:hover
{
color: #35629B;
height:23px;
width:auto;
margin:0px;
padding:0px;
border:0px;
text-decoration:none;
cursor:pointer;
background: transparent url(images/tab-btm-inactive-right-bg.gif) no-repeat bottom left;
float:left;
display:inline;
}

.downtabSelected
{
height:23px;
width:auto;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
border:0px;
background: transparent url(images/tab-btm-right-bg.gif) no-repeat bottom left;
position:relative;
float:left;
display:inline;
}

.downtabSelected div
{
height:20px;
width:auto;
margin:0px;
padding:4px 10px;
text-decoration:none;
background: transparent url(images/tab-btm-left-bg.gif) no-repeat bottom right;
float:left;
display:inline;
}

.downtabSelected div em
{
color: #15428B;
font: bold 11px tahoma,arial,verdana,sans-serif;
}

.downtabFiller
{
display:block;
float:left;
}


table.contextMenu
{
background-image:none;
background-color:white;
margin:0px;
padding:0px;
border:1px solid #a0a0a0;
border-spacing:4px;
}

hr.contextMenuItem
{
background-image:none;
font-size:0pt;
border:1px solid gray;
height:1px;
overflow:hidden;
background-color:transparent;
padding:0px;
margin:0px;
}

td.contextMenuItem
{
width:100%;
}

a.contextMenuItem
{
position:relative;
background-image:none;
width:100%;
padding:0px;
font-family:verdana,arial,sans-serif;
font-size:11px;
color:#15428B;
text-decoration:none;
background-color:transparent;
display:block;
border:1px solid white;
}

a.contextMenuItem:hover
{
position:relative;
background:#C3DAF9 none repeat scroll 0%;
font-family:verdana,arial,sans-serif;
font-size:11px;
color:#15428B;
text-decoration:none;
width:100%;
padding:0px;
cursor:pointer;
border:1px solid #8BB8F3;
color:#233D6D;
}

a.contextMenuItemDisabled
{
position:relative;
background-image:none;
width:100%;
padding:0px;
font-family:verdana,arial,sans-serif;
font-size:11px;
color:gray;
text-decoration:none;
background-color:transparent;
display:block;
border:1px solid white;
}

.calendar {
position:relative;
display:none;
border:1px solid #393939;
font-size:11px;
color:#000;
background:#c8d0d4;
font-family:tahoma,verdana,tahoma,arial,helvetica;
}

.calendar table {
border:1px solid #393939;
font-size:11px;
color:#000;
background:#c8d0d4;
font-family:tahoma,verdana,tahoma,arial,helvetica;
}
.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
text-align:center;
padding:1px;
border:1px solid #393939;
}
.calendar .nav {
background:transparent url(menuarrow.gif) no-repeat 100% 100%;
}
.calendar thead .title { /* This holds the current "month, year" */
font-weight:bold;
padding:1px;
border:1px solid #000;
background:#788084;
color:#fff;
text-align:center;
}
.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}
.calendar thead .daynames { /* Row <TR> containing the day names */
}
.calendar thead .name { /* Cells <TD> containing the day names */
border-bottom:1px solid #000;
padding:2px;
text-align:center;
background:#e8f0f4;
}
.calendar thead .weekend { /* How a weekend day name shows in header */
color:#f00;
}
.calendar thead .hilite { /* How do the buttons in header appear when hover */
border-top:2px solid #fff;
border-right:2px solid #000;
border-bottom:2px solid #000;
border-left:2px solid #fff;
padding:0px;
background-color:#d8e0e4;
}
.calendar thead .active { /* Active (pressed) buttons in header */
padding:2px 0px 0px 2px;
border-top:1px solid #000;
border-right:1px solid #fff;
border-bottom:1px solid #fff;
border-left:1px solid #000;
background-color:#b8c0c4;
}
.calendar tbody .day { /* Cells <TD> containing month days dates */
width:2em;
text-align:right;
padding:2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
font-size:80%;
color:#aaa;
}
.calendar tbody .day.othermonth.oweekend {
color:#faa;
}
.calendar table .wn {
padding:2px 3px 2px 2px;
border-right:1px solid #000;
background:#e8f4f0;
}
.calendar tbody .rowhilite td {
background:#d8e4e0;
}
.calendar tbody .rowhilite td.wn {
background:#c8d4d0;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
padding:1px 3px 1px 1px;
border:1px solid;
border-color:#fff #000 #000 #fff;
}
.calendar tbody td.active { /* Active (pressed) cells <TD> */
padding:2px 2px 0px 2px;
border:1px solid;
border-color:#000 #fff #fff #000;
}
.calendar tbody td.selected { /* Cell showing selected date */
font-weight:bold;
padding:2px 2px 0px 2px;
border:1px solid;
border-color:#000 #fff #fff #000;
background:#d8e0e4;
}
.calendar tbody td.weekend { /* Cells showing weekend days */
color:#f00;
}
.calendar tbody td.today { /* Cell showing today date */
font-weight:bold;
color:#00f;
}
.calendar tbody .disabled { color:#999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
visibility:hidden;
}
.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
display:none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
background:#e8f0f4;
padding:1px;
border:1px solid #000;
background:#788084;
color:#fff;
text-align:center;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
border-top:1px solid #fff;
border-right:1px solid #000;
border-bottom:1px solid #000;
border-left:1px solid #fff;
padding:1px;
background:#d8e0e4;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
padding:2px 0px 0px 2px;
border-top:1px solid #000;
border-right:1px solid #fff;
border-bottom:1px solid #fff;
border-left:1px solid #000;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo 
{
position:absolute;
display:none;
width:4em;
top:0px;
left:0px;
border-top:1px solid #fff;
border-right:1px solid #000;
border-bottom:1px solid #000;
border-left:1px solid #fff;
background:#d8e0e4;
font-size:90%;
padding:1px;
}

.calendar .combo .label,
.calendar .combo .label-IEfix 
{
text-align:center;
padding:1px;
}

.calendar .combo .label-IEfix 
{
width:4em;
}

.calendar .combo .active 
{
background:#c8d0d4;
padding:0px;
border-top:1px solid #000;
border-right:1px solid #fff;
border-bottom:1px solid #fff;
border-left:1px solid #000;
}

.calendar .combo .hilite 
{
background:#048;
color:#aef;
}

.calendar td.time 
{
border-top:1px solid #000;
padding:1px 0px;
text-align:center;
background-color:#e8f0f4;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm 
{
padding:0px 3px 0px 4px;
border:1px solid #889;
font-weight:bold;
background-color:#fff;
}

.calendar td.time .ampm 
{
text-align:center;
}

.calendar td.time .colon 
{
padding:0px 2px 0px 3px;
font-weight:bold;
}

.calendar td.time span.hilite 
{
border-color:#000;
background-color:#667;
color:#fff;
}

.calendar td.time span.active 
{
border-color:#f00;
background-color:#000;
color:#0f0;
}


input.editable_inputfield
{
border-left:none; 
border-top:none; 
border-right:none; 
border-bottom:none; 
border:1px solid #B5B8C8;
cursor:text;
background:#FFFFFF url(./images/text-bg.gif) repeat-x top;
padding:1px 3px;
}

textarea.editable_inputfield
{
border-left:none; 
border-top:none; 
border-right:none; 
border-bottom:none; 
border:1px solid #B5B8C8;
cursor:text;
background:#FFFFFF url(./images/text-bg.gif) repeat-x top;
padding:1px 3px;
}

.reporting_clickable
{
text-decoration:underline;
color:blue;
}

.focus
{
 border:1px solid black !important; 
}
