<html>
<head>
<title>
Welcome to jACOB Notificator Templates
</title>
</head>
<body>

<h2>Welcome to the <FONT SIZE=+1>j</FONT>ACOB Notificator Templates</h2>
<p>
This web application contains urgently stylesheets for the notification engine <b>YAN</b>.<br>
<p>
To modify the stylesheets make a copy of this war file and create a new one.<br>
Please use the Tomcat Manager to deploy your changes.<br>
<p>
Regards,<br>
<a href="mailto:support@tarragon-software.de?subject=YAN Stylesheets">support@tarragon-software.de</a>
</body>
</html>
