<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.ui.popupMenus">
	<!-- Contribution for TreeDomainObject -->
    <objectContribution
          objectClass="de.tif.jacob.designer.views.applicationoutline.TreeDomainObject"
          id="de.tif.jacob.designer.treedomainobjectcontribution2">


       <action
             label="%popup.applicationoutline.newWikiForm"
             icon="icons/new_html_form.png"
             class="de.tif.jacob.module.wiki.actions.CreateWikiFormAction"
             menubarPath="subMenuModules/modules"
             id="de.tif.jacob.module.wiki.actions.CreateWikiFormAction"/>
                
    </objectContribution>
   </extension>

</plugin>
