<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension  point="de.tif.jacob.designer.jacobObjectModelPropertyPlugin">
      <property_provider
            class="de.tif.jacob.properties.defaultjavapackage.GroupPropertyPlugin"
            modelClass="de.tif.jacob.designer.model.UIGroupModel">
      </property_provider>
   </extension>
   
   <extension point="de.tif.jacob.designer.jacobObjectModelPropertyPlugin">
      <property_provider
            class="de.tif.jacob.properties.defaultjavapackage.TabPanePropertyPlugin"
            modelClass="de.tif.jacob.designer.model.UITabModel">
      </property_provider>
   </extension>

</plugin>
