<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.tif.jacob.designer.jacobObjectModelPropertyPlugin">
      <property_provider
            class="de.tif.jacob.properties.execute_scope.ExecuteScopePropertyPlugin"
            modelClass="de.tif.jacob.designer.model.UIButtonModel">
      </property_provider>
   </extension>

</plugin>
