<html>
<body>
<h1>What are tags?</h1>
<big>
Tags are one-word descriptors that you can assign to your documents on <i>jacob.docfinder</i>
to help you organize and remember them. Tags are a little bit like keywords, but 
they're chosen by you, and they do not form a hierarchy. You can assign as many 
tags to a document as you like and rename or delete the tags later. So, tagging 
can be a lot easier and more flexible than fitting your information into 
preconceived categories or folders. 
</big>
<br>
<br>
<center><a href="#" onclick="window.close()">close</a></center>

</body>
</html>