<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.ui.popupMenus">
	<!-- Contribution for TreeDomainObject -->
    <objectContribution
          objectClass="de.tif.jacob.designer.views.applicationoutline.TreeDomainObject"
          id="de.tif.jacob.module.importercontribution">


       <action
             label="Excel Import"
             icon="icons/new_importer_form.png"
             class="de.tif.jacob.module.importer.actions.CreateImporterFormAction"
             menubarPath="subMenuModules/modules"
             id="de.tif.jacob.module.importer.actions.CreateImporterFormAction"/>
                
    </objectContribution>
   </extension>

</plugin>
