/* ADAMANT */
.autocomplete 
{ 
position:absolute; 
top:1px; 
left:1px; 
-moz-box-shadow: 4px 4px 8px #aaaaaa;
-webkit-box-shadow: 4px 4px 8px #aaaaaa;
box-shadow: 4px 4px 8px #aaaaaa;
background-color:white;
filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=120,strength=6)
        progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=6);
cursor:default; 
padding:2px;
}
.autocomplete .selected 
{ 
  background:#555F66; 
  color:white;
}

.autocomplete strong 
{ 
  font-weight:bold; 
  text-decoration:underline;
}

.spotlight_domain
{
padding:0px;
text-align:right;
padding-right:5px;
font-family:Arial,sans-serif;
font-size:12px;
color:#5F5F5F;
height:14px;
white-space:nowrap;
background-color:#DDE0E0;
}

.spotlight_match
{
padding:0px;
text-align:left;
padding-left:5px;
font-family:Arial,sans-serif;
font-size:12px;
color:black;
height:14px;
white-space:nowrap;
background-color:#BEC3C5;
padding:2px;
}



.spotlight
{
border:0px;
margin-top:8px;
background:white url("images/spotlight_bg.png") no-repeat top right;
height:19px;
color:#A3A9B1;
position:absolute;
top:38px;
left:10px;
width:165px;
}

.spotlight_focus
{
border:0px;
margin-top:8px;
background:white url("images/spotlight_bg.png") no-repeat top right;
height:19px;
color:black !important;
position:absolute;
top:38px;
left:10px;
width:165px;
}



div.menu {
    position: absolute;
    top: 0;
    left: 0;
    font-family: verdana;
}

div.menu a 
{
    display: block;
    text-decoration: none;
    cursor: default;
    outline: none;
    font-size: 11px;
}
.menu ul, .menu li 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li 
{
    list-style-position: none;
}

.menu.desktop {
    background: #f9f8f7;
    border: 1px solid #999;
    padding: 0;
}
.menu.desktop ul, .menu.desktop li {
    margin: 0;
    padding: 0;
}

.menu.desktop a {
    color: #555;
    padding: 3px 5px 3px 5px;
    margin: 0;
    border: 1px solid #f9f8f7;
}
.menu.desktop a.delete {
}
/* we need explicit enabled class to overcome css deficiences (without creating unnecessary markup) */
.menu.desktop a.enabled:hover {
    background-color: #0A246A;
    color: #fff;
}
#sideBar
{
  position:absolute;
  top:20px;
  right:0;
  height:300px;
  width:auto;
  white-space:nowrap;
  color:white;
  font-size:8pt;
}

#sideBar li
{
  background-color:#DA1074;
  padding:2px;
  margin:0 10px 3px;
  list-style-type:none;
}

#sideBar ul
{
  margin:0px;
  padding:0px;
}

#sideBarTab {
float:left;
height:137px;
width:23px;
cursor:pointer;
background:transparent url("images/sidebar_handle.png") no-repeat;
}

#sideBarContents
{
  float:left;
  width:200px;
  background-color:#333333;
}

#sideBarContentsInner
{
  overflow-x:hidden !important;
  overflow-y:auto !important;
  height:300px;
}

a.search_criteria
{
  color:#f0f0f0;
}

body
{
scrollbar-base-color:#E3E3E3;
scrollbar-3dlight-color:#616064;
scrollbar-arrow-color:#616064;
scrollbar-darkshadow-color:#616064;
scrollbar-face-color:#E3E3E3;
scrollbar-highlight-color:#E3E3E3;
scrollbar-shadow-color:#E3E3E3;
}


.teaser
{
height:117px;
background-image:url("images/teaser.jpg");
}

.teaser_applicationname
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:15pt;
font-weight:bold;
height:90px;
display:block;
color:white;
position:absolute; 
top:63px;
left:250px;
text-transform:capitalize;
}
.teaser_applicationversion
{
display:none;
}

.teaser_container01
{
}

.home_link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
position:absolute; 
top:5px;
left:5px;
color:#616064;
}

.listbar
{
background:transparent url('images/menu_middle.jpg') left repeat-y;
border:0px;
position:absolute;
width:220px;
overflow:hidden;
height:100%;
top:0px;
left:0px;
}

.listbar_footer
{
height:0px;
}

.listbar_header
{
height:50px;
padding-left:14px;
font-size:12px;
}

.simpleNavigationLevel1Selected
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
width:85%;
font-weight:bold;
color:#4C9DA3;
margin:6px 10px 6px 14px;
border-bottom:1px solid #002E61; 
}

.simpleNavigationLevel1Normal
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-style:normal;
font-weight:normal;
color:#616064;
padding:6px 10px 6px 14px;
}

.simpleNavigationLevel2Normal
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
color:#616064;
padding:3px 10px 6px 28px; 
background-color:transparent;
}


.simpleNavigationLevel2Selected
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:bold;
color:#4C9DA3;
padding:3px 10px 6px 28px; 
background-color:transparent;
}

.simpleNavigationLevel2Separator
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
color:#616064;
color:#4C9DA3;
background-color:transparent;
margin:6px 10px 6px 14px;
}

/**
* Kleine Sanduhr beim Serverrequest
**/
.waitDiv
{
font-size:10pt;
background-color:#f0f0f0;
border:solid 1px #616064;
position:absolute; 
top:50%; 
left:40%;
}

.divider
{
height:5px;
} 

.divider_over
{
height:5px;
}

a.reportList 
{ 
color:#616064;
width:100%;
margin:1px;
text-decoration:none;
}
a.reportList:hover 
{ 
color:#F24704;
border:1px solid rgb(120,172,255);
margin:0px;
width:100%;
}


div.wizard_info
{
height:100%;
}

h1.wizard_info
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10pt;
font-weight:bold;
}

li.wizard_info
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:8pt;
}
li.wizard_info_s
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:8pt;
}
div.wizard_contentteaser
{
font-size:8pt;
height:100%;
width:100%;
overflow:auto;
padding:10px;
border-bottom:1px solid;
}

.sbh_container
{
background-color:#E3E3E3;
margin-bottom:1px;
border-bottom:1px solid black;
border-top:1px solid black;
}

.sbh
{
text-align:left;
padding-Left:2px;
padding-right:20px;
font-family:curier;
font-size:11px;
font-style:normal;
font-weight:bold;
background-color:transparent;
border-top:0px;
border-left:1px solid #616064;
border-bottom:0px;
border-right:0;
color:#616064;
}
.sbh_icon
{
text-align:right;
font-size:10pt;
font-family:curier;
font-style:normal;
font-weight:bold;
background-color:rgb( 212, 226, 237 );
border:1px solid #616064;
color:#616064;
}
.sbh_counter
{
text-align:right;
font-family:curier;
font-size:10pt;
font-style:normal;
font-weight:bold;
vertical-align:top;
color:#616064;
}

.sbc_add
{
width:100%;
height:100%;
background-color:rgb( 232, 250, 255 );
color:#616064;
font-size:10pt;
font-style:normal;
font-weight:bold;
}

.sbr_s
{
font-family:curier;
text-align:left;
padding-left:2px;
padding-right:20px;
padding-top:3px;
font-size:10pt;
font-style:normal;
font-weight:bold;
background-color:transparent;
color:#002E61;
background-color:#2B9ABF;
}

.sbr_o
{
text-align:left;
padding-left:2px;
padding-right:20px;
padding-top:3px;
font-family:curier;
font-size:10pt;
font-style:normal;
font-weight:bold;
background-color:#f0f0f0;
color:#616064;
}
.sbr_e
{
text-align:left;
padding-left:2px;
padding-right:20px;
padding-top:3px;
font-family:curier;
font-size:10pt;
font-style:normal;
font-weight:bold;
background-color:#ffffff;
color:#616064;
}
.sbr_h
{
text-align:left;
padding-left:2px;
padding-right:20px;
padding-top:3px;
font-family:curier;
font-size:10pt;
font-style:normal;
font-weight:bold;
background-color:#E3E3E3;
color:#616064;
}

.sbr_u
{
text-align:left;
height:22px;
padding-Left:2px;
padding-right:20px;
font-family:curier;
font-size:10pt;
font-style:normal;
font-weight:bold;
background-color:#ffffff;
color:#616064;
}

body.contentBody
{
margin:0px;
}

td.locationbar 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
margin:0px;
border:0px solid;
font-size:70%;            
margin:5px;
color:black;
height:14px;
}

#locationbar_location
{
color:white;
}

td.toolbar 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
padding:5px 0px 5px 0px;
border:0px;
border-bottom:1px solid #616064;
font-size:90%;            
}


.toolbarButton_disabled
{
border:1px solid #929292;
color:#616064;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
background-color:#FFFFFF;
color:gray;
width:100px;
}

.toolbarButton_normal
{
border:1px solid #929292;
color:#616064;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
background-color:#E3E3E3;
width:100px;
margin-bottom:2px;
margin-right:2px;
}


.toolbarButton_emphasize_left
{
margin:0px; /* reset the parent css*/
}

.toolbarButton_emphasize_right
{
margin:0px; /* reset the parent css*/
}

.toolbarButton_emphasize_disabled
{
border:2px solid #4C9DA3;
color:#616064;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:bold;
background-color:#FFFFFF;
color:gray;
width:100px;
}

.toolbarButton_emphasize
{
border:2px solid #4C9DA3;
color:#616064;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:bold;
background-color:#E3E3E3;
width:100px;
margin-bottom:2px;
}




.image_empty
{
border:1px solid #616064;
background-color:rgb(245,245,245);
}
.image_update
{
border:1px solid #616064;
background-color:rgb(245,245,245);
}
.chart_empty
{
border:1px solid #616064;
background-color:rgb(245,245,245);
}
.chart_update
{
border:1px solid #616064;
background-color:rgb(245,245,245);
}
.text_disabled
{
border:1px solid #616064;
color:#616064;
font:italic 11px verdana;
}
.text_normal
{
border:1px solid #616064;
color:#616064;
font:normal 11px verdana;
}


input.document_normal
{
border:1px solid #616064;
color:#616064;
font:normal 11px verdana;
}

input.document_disabled
{
border:1px solid #616064;
color:#777777;
font:normal 11px verdana;
}

a.document_normal
{
}

a.document_disabled
{
}


textarea.longtext_disabled
{
font-family:Verdana, Arial, Helvetica, sans-serif;
background-color:rgb( 252, 252, 254 );
border:1px solid #616064;
font-size:80%;            
overflow:auto;
}

textarea.longtext_normal
{
border:1px solid #616064;
color:#616064;
font:normal 11px verdana;
overflow:auto;
}

textarea.longtextdialog_disabled
{
font-family:Verdana, Arial, Helvetica, sans-serif;
background-color:rgb( 252, 252, 254 );
border:1px solid #616064;
font-size:80%;            
overflow:auto;
}

textarea.longtextdialog_normal
{
border:1px solid #616064;
color:#616064;
font:normal 11px verdana;
overflow:auto;
}

input.foreign_disabled
{
border:1px solid #616064;
color:#777777;
font:normal 11px verdana;
}
input.foreign_normal
{
border:1px solid #616064;
color:#616064;
font:normal 11px verdana;
}
a.foreign_normal
{
}

a.foreign_disabled
{
filter:gray
}

.button_disabled
{
color:#FFFFFF;
border:1px solid #929292;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
background-color:#FFFFFF;
}

.button_normal
{
border:1px solid #929292;
color:#616064;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
background-color:#E3E3E3;
}

.button_emphasize_disabled
{
color:#FFFFFF;
border:2px solid #929292;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:bold;
background-color:#FFFFFF;
}

.button_emphasize_normal
{
border:2px solid #929292;
color:#616064;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:bold;
background-color:#E3E3E3;
}

.caption_normal_update 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
color:#616064;
text-decoration:none;
}
.caption_normal_new 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
color:#616064;
text-decoration:none;
margin-top:2px;
}

.caption_normal_search 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
color:#616064;
text-decoration:none;
margin-top:2px;
}
.caption_normal_selected
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
color:#616064;
text-decoration:none;
margin-top:2px;
}

.caption_linked_update 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
text-decoration:underline;
margin-top:2px;
}
.caption_linked_new 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
text-decoration:underline;
margin-top:2px;
}
.caption_linked_search 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
text-decoration:underline;
margin-top:2px;
}
.caption_linked_selected
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
text-decoration:underline;
margin-top:2px;
}

.caption_linked_required_update 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
font-weight:bold;
text-decoration:underline;
margin-top:2px;
}
.caption_linked_required_new 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
font-weight:bold;
text-decoration:underline;
margin-top:2px;
}
.caption_linked_required_search 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
text-decoration:underline;
margin-top:2px;
}

.caption_linked_required_selected
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
text-decoration:underline;
margin-top:2px;
}

.caption_required_search 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
color:#616064;
text-decoration:none;
margin-top:2px;
}

.caption_required_selected
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
color:#616064;
text-decoration:none;
margin-top:2px;
}

.caption_required_update 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
color:#616064;
font-weight:bold;
text-decoration:none;
margin-top:2px;
}

.caption_required_new 
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;            
color:#616064;
font-weight:bold;
text-decoration:none;
margin-top:2px;
}

.caption_requiredflag 
{
display:none;
margin-top:2px;
}

fieldset.group_disabled
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:80%;
color:#a0a0a0;
text-decoration:none;
}
fieldset.group_normal
{
font-family:Verdana, Arial, Helvetica, sans-serif;
border:0px;
color:#616064;
font:normal 11px verdana;
text-decoration:none;
border:1px solid #a0a0a0;
}

.group_legend
{
font-weight:normal;
color:#002E61;
background-color:#E3E3E3;
border:1px solid #929292;
}

/* THIS is not visible for the IE */
* > legend
{
}
* > fieldset.group_normal
{
}

input.datetime_disabled
{
border:1px solid #616064;
color:#777777;
font:normal 11px verdana;
}

input.datetime_normal
{
border:1px solid #616064;
color:#616064;
font:normal 11px verdana;
}
body.dialog
{
margin:0px;
font-size:8pt;
background-color:white;
}
dd.dialog
{
font-family:Tahoma,Verdana,sans-serif;
font-size:120%;
margin-left:20px;
margin-right:20px;
padding-top:10pt;
}
h1.dialog
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:150%;
margin-top:20pt;
margin-left:20px;
margin-right:20px;
color:#0055E6;
font-weight:bold;
page-break-after:avoid;
}
div.dialog_content
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:8pt;
margin:0px;
height:100%;
width:100%;
background-color:#f9f8f3;

}
div.dialog_buttonbar
{
height:20px;
background-color:#E3E3E3;
border-top:1px solid #616064;
padding:5pt;
}
td.searchTabFooter
{
background-image:url("images/top_line.png"); 
border-left:0px solid #0066cc;
border-right:0px solid #0066cc;
}

.downtab
{
font-family:Verdana, Arial, Helvetica, sans-serif;
width:170px;
height:17px;
background-image:url( "images/downtab.png" );
background-repeat:no-repeat;
position:relative;
top:0;
display:inline;
float:left;
overflow:hidden;
margin:1px -1px 1px 2px;
padding:2px 0px 0px 0px;
border:0px;
z-index:1;
white-space:nowrap;
text-align:center;
text-decoration:none;
color:#616064;
}
.downtabSelected
{
font-family:Verdana, Arial, Helvetica, sans-serif;
width:170px;
height:17px;
background-image:url( "images/downtab.active.png" );
background-repeat:no-repeat;
position:relative;
top:0px;
display:inline;
float:left;
overflow:hidden;
margin:1px -1px 1px 2px;
padding:2px 0px 0px 0px;
border:0px;
z-index:1;
white-space:nowrap;
text-align:center;
text-decoration:none;
color:#002E61;
border-bottom:1px solid white;
}

.downtab:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
width:170px;
height:17px;
background-image:url( "images/downtab.hover.png" );
background-repeat:no-repeat;
text-decoration:none;
color:#616064;
border-top:1px solid #616064;
}


table.contextMenu
{
background-image:none;
background-color:#E3E3E3;
margin:0px;
padding:1px;
border:1px solid #616064;
}

hr.contextMenuItem
{
background-image:none;
font-size:0pt;
border:1px solid #616064;
height:2px;
overflow:hidden;
background-color:transparent;
}

a.contextMenuItem
{
background-image:none;
font:menu;
width:100%;
padding:0px 16px 0px 16px;
color:#616064;
text-decoration:none;
background-color:transparent;
}

a.contextMenuItem:hover
{
background-image:none;
background-color:transparent;
font:menu;
color:#FF790A;
width:100%;
padding:0px 16px 0px 16px;
}

a.contextMenuItemDisabled
{
font:menu;
width:100%;
color:gray;
padding:0px 16px 0px 16px;
}

.calendar {
position:relative;
display:none;
border:1px solid #616064;
font-size:11px;
color:#000;
background:#c8d0d4;
font-family:tahoma,verdana,sans-serif;
}

.calendar table {
border:1px solid #616064;
font-size:11px;
color:#000;
background:#c8d0d4;
font-family:tahoma,verdana,sans-serif;
}
.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
text-align:center;
padding:1px;
border:1px solid #616064;
}
.calendar .nav {
background:transparent url(menuarrow.gif) no-repeat 100% 100%;
}
.calendar thead .title { /* This holds the current "month, year" */
font-weight:bold;
padding:1px;
border:1px solid #000;
background:#788084;
color:#fff;
text-align:center;
}
.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}
.calendar thead .daynames { /* Row <TR> containing the day names */
}
.calendar thead .name { /* Cells <TD> containing the day names */
border-bottom:1px solid #000;
padding:2px;
text-align:center;
background:#e8f0f4;
}
.calendar thead .weekend { /* How a weekend day name shows in header */
color:#f00;
}
.calendar thead .hilite { /* How do the buttons in header appear when hover */
border-top:2px solid #fff;
border-right:2px solid #000;
border-bottom:2px solid #000;
border-left:2px solid #fff;
padding:0px;
background-color:#d8e0e4;
}
.calendar thead .active { /* Active (pressed) buttons in header */
padding:2px 0px 0px 2px;
border-top:1px solid #000;
border-right:1px solid #fff;
border-bottom:1px solid #fff;
border-left:1px solid #000;
background-color:#b8c0c4;
}
.calendar tbody .day { /* Cells <TD> containing month days dates */
width:2em;
text-align:right;
padding:2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
font-size:80%;
color:#aaa;
}
.calendar tbody .day.othermonth.oweekend {
color:#faa;
}
.calendar table .wn {
padding:2px 3px 2px 2px;
border-right:1px solid #000;
background:#e8f4f0;
}
.calendar tbody .rowhilite td {
background:#d8e4e0;
}
.calendar tbody .rowhilite td.wn {
background:#c8d4d0;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
padding:1px 3px 1px 1px;
border:1px solid;
border-color:#fff #000 #000 #fff;
}
.calendar tbody td.active { /* Active (pressed) cells <TD> */
padding:2px 2px 0px 2px;
border:1px solid;
border-color:#000 #fff #fff #000;
}
.calendar tbody td.selected { /* Cell showing selected date */
font-weight:bold;
padding:2px 2px 0px 2px;
border:1px solid;
border-color:#000 #fff #fff #000;
background:#d8e0e4;
}
.calendar tbody td.weekend { /* Cells showing weekend days */
color:#f00;
}
.calendar tbody td.today { /* Cell showing today date */
font-weight:bold;
color:#00f;
}
.calendar tbody .disabled { color:#999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
visibility:hidden;
}
.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
display:none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
background:#e8f0f4;
padding:1px;
border:1px solid #000;
background:#788084;
color:#fff;
text-align:center;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
border-top:1px solid #fff;
border-right:1px solid #000;
border-bottom:1px solid #000;
border-left:1px solid #fff;
padding:1px;
background:#d8e0e4;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
padding:2px 0px 0px 2px;
border-top:1px solid #000;
border-right:1px solid #fff;
border-bottom:1px solid #fff;
border-left:1px solid #000;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo 
{
position:absolute;
display:none;
width:4em;
top:0px;
left:0px;
border-top:1px solid #fff;
border-right:1px solid #000;
border-bottom:1px solid #000;
border-left:1px solid #fff;
background:#d8e0e4;
font-size:90%;
padding:1px;
}

.calendar .combo .label,
.calendar .combo .label-IEfix 
{
text-align:center;
padding:1px;
}

.calendar .combo .label-IEfix 
{
width:4em;
}

.calendar .combo .active 
{
background:#c8d0d4;
padding:0px;
border-top:1px solid #000;
border-right:1px solid #fff;
border-bottom:1px solid #fff;
border-left:1px solid #000;
}

.calendar .combo .hilite 
{
background:#048;
color:#aef;
}

.calendar td.time 
{
border-top:1px solid #000;
padding:1px 0px;
text-align:center;
background-color:#e8f0f4;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm 
{
padding:0px 3px 0px 4px;
border:1px solid #889;
font-weight:bold;
background-color:#fff;
}

.calendar td.time .ampm 
{
text-align:center;
}

.calendar td.time .colon 
{
padding:0px 2px 0px 3px;
font-weight:bold;
}

.calendar td.time span.hilite 
{
border-color:#000;
background-color:#667;
color:#fff;
}

.calendar td.time span.active 
{
border-color:#f00;
background-color:#000;
color:#0f0;
}